
html{
  min-height: 100%;
}

body {
  background-image:url('../cool-background.png');
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: center center;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

